@model ITPE3200X.ViewModels.ProfileViewModel;

<div class="profile-page">
    <div class="profile-header">
        @if (!string.IsNullOrEmpty(Model.User.ProfilePictureUrl))
        {
        <img src="@Model.User.ProfilePictureUrl" alt="Profile Picture" class="rounded-circle profile-picture" />
        }
        else
        {
        <div class="text-white d-block">
            <i class="bi bi-person fs-1"></i>
        </div>
        }
        <h1>@Model.User.UserName </h1>
        <p>@Model.User.Bio </p>
    </div>

    <div class="profile-stats">
        <span>@Model.Posts?.Count Posts</span>
        <span>@Model.User.Followers?.Count Followers</span>
        <span>@Model.User.Following?.Count Following</span>
    </div>

    <div class="profile-details">
        <p>Email: @Model.User.Email </p>
    </div>

    <div class="profile-edit-page">
        <a class="btn loginbtn-primary" asp-controller="Profile" asp-action="Edit">Edit Profile</a>
        <a class="btn btn-secondary" asp-controller="Profile" asp-action="CreatePost">Create Post</a>
    </div>

    <div class="profile-posts">
        <h3>Your Posts</h3>
        @if (Model.Posts != null && Model.Posts.Any())
        {
        <div class="container">
            <div class="row row-cols-3">
                @foreach (var post in Model.Posts)
                {
                    <img src="@post.Images.ElementAt(0).ImageUrl" alt="Post Image">
                }
            </div>
        </div>
        }
        else
        {
        <p>No posts to show</p>
        }
    </div>
</div>
