<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Email</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal data</a></li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
            <button type="submit" class="nav-link" style="width: 100%; height: 100%; text-align: start; color: #dd2828 !important;">
                Click here to Logout <i class="bi bi-door-closed"></i>
            </button>
        </form>
    </li>
</ul>

<style>
    /* Active page indicator on load */
    #profile.active, #email.active, #change-password.active, #personal-data.active {
        background-color: rgba(155, 155, 155, 0.16) !important;
        color: #7cbeea !important;
        border-left: 3px solid #7cbeea !important;
    }

    .nav-item:hover {
        background-color: rgba(155, 155, 155, 0.16);
    }
</style>